{% extends 'base.html' %}

{% block title %}Signup - Free Cold Emails{% endblock %}

{% block content %}
<section id="generic-pages">
    <h1>Sign Up</h1>

    <div class="card">
    <form method = "post">
        {% csrf_token %}

        <!-- {{ form.username.label_tag }} {# Display the label if needed #}
        {{ form.username }} {# This line will render the hidden input for username #} -->

        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div style="color:rgb(245, 10, 10)" class="error">{{ form.first_name.errors }}</div>
        {% endif %}

        {{ form.last_name.label_tag }}
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div style="color:rgb(245, 10, 10)" class="error">{{ form.last_name.errors }}</div>
        {% endif %}

        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
        <div style="color:rgb(245, 10, 10)" class="error">{{ form.email.errors }}</div>
        {% endif %}
<!-- {% if form.email.errors %} <p style="color:rgb(245, 10, 10);">Duplicate Email Error </p> {% endif %} -->
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.errors %}
        <div style="color:rgb(245, 10, 10)" class="error">{{ form.password1.errors }}</div>
        {% endif %}

        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.errors %}
        <div style="color:rgb(245, 10, 10)" class="error">{{ form.password2.errors }}</div>
        {% endif %}

        <!-- {{ form.as_p }} -->


        <button class="global-button" type="submit">Register</button>
    </form>

    <a href="{% url 'login' %}">Login</a>
</div>
</section>
{% endblock %}
