{% extends 'base.html' %}

{% block title %}Contact US - Free Cold Emails{% endblock %}

{% block content %}

<section id="generic-pages">
<h1>Contact Information</h1>
<p>Reach out to me via X since that is where I am most likely to respond</p>
<h3>Email: <a href="mailto:jeetu@turingist.com"><i class="fas fa-envelope"></i></a></h3>
<h3>
    Social Media:
    <a href="https://www.facebook.com/jeetujayson.raju.1/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/jeetujayson" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/jeetujayson-raju-9b7b7b95/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/JEETUJAYSON" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://github.com/Jeetujayson" target="_blank"><i class="fab fa-github"></i></a>
</h3>

</section>
{% endblock %}
