{% extends 'base.html' %}

{% block title %}Privacy Policy - Free Cold Emails{% endblock %}

{% block content %}
<section id="generic-pages">
<h1>Privacy Policy</h1>

    <p><strong>Effective Date:</strong> 2nd October 2023</p>

    <h3>1. Collection of Personal Information</h3>

    <p>We collect the following personal information from users:<br>
        Email addresses, Names, Contact information.<br>
        This information is collected through our signup form for account creation.</p>

    <p>Additionally, users may choose to:<br>
    Link their email addresses for sending emails, 
    Load email lists of their target audience
    </ul>
</p>
    <h3>2. Storage and Protection of User Data</h3>

    <p>We store user data in a PostgreSQL database. We take measures to ensure the security of this data, including encryption and secure server protocols.</p>

    <h3>3. Sharing of User Data</h3>

    <p>We may sell user data for advertising purposes.</p>

    <h3>4. User Access, Update, and Deletion</h3>

    <p>Users can access, update, or delete their personal information through their account settings.</p>

    <h3>5. Use of Cookies</h3>

    <p>We use cookies on our website for tracking and analytics purposes.</p>

    <h3>6. Email Handling</h3>

    <p>Emails are sent through users' email service providers' SMTP servers and received through IMAP.</p>

    <h3>7. Opt-Out</h3>

    <p>Users can either use the option to opt-out of email communications via an unsubscribe link or by manually removing recipients from their list.</p>

    <h3>8. Data Retention</h3>

    <p>We retain user data for 7 days.</p>

    <h3>9. CAN-SPAM Act Compliance</h3>

    <p>We comply with the CAN-SPAM Act.</p>
</section>
{% endblock %}
