{% extends 'base.html' %}

{% block title %}Terms Of Service - Free Cold Emails{% endblock %}

{% block content %}
<section id="generic-pages">
    <h1>Terms of Service</h1>

    <h3>1. Acceptance of Terms</h3>

    <p>By using the Free Cold Emails service, you agree to comply with and be bound by these Terms of Service.</p>

    <h3>2. Use of the Service</h3>

    <p>You may use the Free Cold Emails service for its intended purposes. You agree not to misuse or abuse the service in any way.</p>

    <h3>3. Account Registration</h3>

    <p>To access certain features of the service, you may be required to register for an account. You are responsible for maintaining the confidentiality of your account information.</p>

    <h3>4. Privacy Policy</h3>

    <p>Your use of the service is also governed by our Privacy Policy, which can be found <a href="{% url 'privacy_policy' %}" class="cta-button">here</a>.</p>

    <h3>5. Data Security</h3>

    <p>We take measures to secure user data; however, you are responsible for the security of your own data and account.</p>

    <h3>6. Termination</h3>

    <p>We reserve the right to terminate or suspend your account for violations of these Terms of Service or for no particular reason.</p>

    <h3>7. Changes to Terms</h3>

    <p>We may update these Terms of Service from time to time. You will be notified of any significant changes.</p>

    <h3>8. Disclaimer</h3>

    <p>The Free Cold Emails service is provided "as is" without any warranties or guarantees.</p>

    <h3>9. Limitation of Liability</h3>

    <p>We are not liable for any damages or losses resulting from your use of the service.</p>

    <h3>10. Governing Law</h3>

    <p>These Terms of Service are governed by and construed in accordance with the laws of Bharat and United States.</p>


</section>
{% endblock %}
