{% extends "dashboard_base.html" %}
{% load static %}
{% block title %} Load Leads {% endblock %}

{% block content %}

<div id="overlay">
    <p>Please Wait...<br>Large lists will take more time to process</p>
   
</div>

<h3>Create A New Leads List Here</h3>
<form method="post" enctype="multipart/form-data" action="{% url 'leads' %}">
    {% csrf_token %}
    <label for="id_list_name">List Name:</label>
    <input class="input-box-border" type="text" id="id_list_name" name="list_name" required placeholder="Enter a unique list name...">
    <label for="csv_file" class="cta-button">Upload .csv</label>
    <input type="file" name="csv_file" id="csv_file" accept=" .csv, .tsv">
    <button type="submit">Submit</button>

    <div id="messages">
        {% for message in messages %}
            {% if 'lead_success' in message.tags %}
                <div class="success">
                    {{ message }}
                </div>
            {% elif 'lead_error' in message.tags %}
                <div class="errorlist">
                    {{ message |linebreaksbr|safe}}
                </div>
            {% endif %}
        {% endfor %}
    </div>   
</form>
<br>

<form method="get" action="{% url 'leads' %}" id="leadListForm">
    <!-- Your dropdown goes here -->

    <select name="lead_list" form="leadListForm" onchange="this.form.submit()">
        <option value="">Select a lead list to display</option>
        {% for lead_list in lead_lists %}
        <option value="{{ lead_list.id }}">{{ lead_list.list_name }} ({{ lead_list.uploaded_date|date:"M d, Y | H:i:s" }})</option>
        {% endfor %}    
    </select>

    <br><br>
</form>

<form method="post" action="{% url 'leads' %}">
    {% if list_name %}
    <p style="text-align: center;">
        <b style="color: #0071e3;">Selected List: </b><b style="color: #e38800;">{{ list_name }} </b><i style="font-size: 12px;">({{ selected_lead_list.uploaded_date|date:"M d, Y | H:i:s" }})</i>
        {% csrf_token %}
        <!-- Delete Button -->
        <input type="hidden" name="delete_list" value="{{ selected_lead_list.id }}">
        <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this list?');">Delete List</button></p>
        <div id="messages">
{% endif %}

            {% for message in messages %}
                {% if 'delete_success' in message.tags %}
                    <div class="success">
                        {{ message }}
                    </div>
                {% elif 'delete_error' in message.tags %}
                    <div class="errorlist">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>   
</form>    

{% if list_name %}
    <!-- Form for appending leads to the selected lead list -->

    <form id="appendForm" method="post" enctype="multipart/form-data" action="{% url 'leads' %}">
        {% csrf_token %}
        <b><label style="color: #0071e3;" for="append_csv_file">Add more leads to </b><b style="color: #e38800;">{{ list_name }} </b>:</label>
        <input type="hidden" name="append_leads" value="true">
        <input type="hidden" name="lead_list" value="{{ selected_lead_list.id }}">
        <label for="append_csv_file" class="cta-button">Upload .csv</label>
        <input type="file" name="csv_file" id="append_csv_file" accept=".csv, .tsv">
        <button type="submit">Append Leads</button>
    </form>
{% endif %}

{% for message in messages %}
    {% if 'append_success' in message.tags %}
        <div class="success">
            {{ message }}
        </div>
    {% elif 'append_error' in message.tags %}
        <div class="errorlist">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}



<div class="pagination">

    {% if selected_lead_entries.has_previous %}
        <a class="nav-links" href="?page=1">First |</a>
        <a class="nav-links" href="?page={{ selected_lead_entries.previous_page_number }}">Previous</a>
    {% endif %}

    {% for i in selected_lead_entries.paginator.page_range %}

        {% if i >= selected_lead_entries.number|add:"-5" and i <= selected_lead_entries.number|add:"5" %}
            {% if selected_lead_entries.number == i %}
                <span class="current-page">{{ i }}</span>  <!-- Highlight the current page number -->
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}

        {% elif i == selected_lead_entries.number|add:"-6" or i == selected_lead_entries.number|add:"6" %}
        ...
        {% endif %}
    {% endfor %}

    {% if selected_lead_entries.has_next %}
    <a class="nav-links" href="?page={{ selected_lead_entries.next_page_number }}">Next | </a>
    <a class="nav-links" href="?page={{ selected_lead_entries.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
                    
<div class="leads-table-card">
    <table class="leads-table">
        <thead>
            <tr>
                <th class="leads-table" style="min-width : 400px;">Email</th>
                <th class="leads-table" style="min-width : 200px;">First Name</th>
                <th class="leads-table" style="min-width : 200px;">Last Name</th>
                <th class="leads-table" style="min-width : 200px;">Company</th>
                <th class="leads-table" style="min-width : 200px;">Role</th>
                <th class="leads-table" style="min-width : 100px;">Column F</th>
                <th class="leads-table" style="min-width : 100px;">Column G</th>
                <th class="leads-table" style="min-width : 100px;">Column H</th>
                <th class="leads-table" style="min-width : 100px;">Column I</th>
                <th class="leads-table" style="min-width : 100px;">Column J</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in selected_lead_entries %}
            <tr>
                <td class="leads-table">{{ entry.email }}</td>
                <td class="leads-table">{{ entry.first_name }}</td>
                <td class="leads-table">{{ entry.last_name }}</td>
                <td class="leads-table">{{ entry.company }}</td>
                <td class="leads-table">{{ entry.role }}</td>
                <td class="leads-table">{{ entry.column_f }}</td>
                <td class="leads-table">{{ entry.column_g }}</td>
                <td class="leads-table">{{ entry.column_h }}</td>
                <td class="leads-table">{{ entry.column_i }}</td>
                <td class="leads-table">{{ entry.column_j }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if list_name %}
<div class="pagination">
    {% if selected_lead_entries.has_previous %}
        <a class="nav-links" href="?page=1">First |</a>
        <a class="nav-links" href="?page={{ selected_lead_entries.previous_page_number }}">Previous</a>
    {% endif %}
    {% for i in selected_lead_entries.paginator.page_range %}
        {% if i >= selected_lead_entries.number|add:"-4" and i <= selected_lead_entries.number|add:"4" %}
            {% if selected_lead_entries.number == i %}
                <span class="current-page">{{ i }}</span>  <!-- Highlight the current page number -->
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% elif i == selected_lead_entries.number|add:"-5" or i == selected_lead_entries.number|add:"5" %}
            ...
        {% endif %}
    {% endfor %}
    {% if selected_lead_entries.has_next %}
        <a class="nav-links" href="?page={{ selected_lead_entries.next_page_number }}">Next | </a>
        <a class="nav-links" href="?page={{ selected_lead_entries.paginator.num_pages }}">Last</a>
    {% endif %}

</div>
{% endif %}


{% endblock %}

{% block js_block %}
<!-- Include the JavaScript file -->

<script src="{% static 'js/db_app.js' %}"></script>

{% endblock %}